<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    
    <filter>
        <filter-name>filterauth</filter-name>
        <filter-class>tiendita.serv.FiltroAuth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterauth</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>ServMarca</servlet-name>
        <servlet-class>tiendita.serv.ServMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProducto</servlet-name>
        <servlet-class>tiendita.serv.ServProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLocacion</servlet-name>
        <servlet-class>tiendita.serv.ServLocacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServUnidad</servlet-name>
        <servlet-class>tiendita.serv.ServUnidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPedidoProducto</servlet-name>
        <servlet-class>tiendita.serv.ServPedidoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPersona</servlet-name>
        <servlet-class>tiendita.serv.ServPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCliente</servlet-name>
        <servlet-class>tiendita.serv.ServCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRol</servlet-name>
        <servlet-class>tiendita.serv.ServRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServUsuario</servlet-name>
        <servlet-class>tiendita.serv.ServUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServMarca</servlet-name>
        <url-pattern>/app/marca.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProducto</servlet-name>
        <url-pattern>/app/producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLocacion</servlet-name>
        <url-pattern>/app/locacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServUnidad</servlet-name>
        <url-pattern>/app/unidad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPedidoProducto</servlet-name>
        <url-pattern>/app/pedido.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPersona</servlet-name>
        <url-pattern>/app/persona.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCliente</servlet-name>
        <url-pattern>/app/cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRol</servlet-name>
        <url-pattern>/app/rol.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServUsuario</servlet-name>
        <url-pattern>/app/usuario.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    
    </web-app>
